@if (secret$ | async; as secret) {
  <!--  Server says this is the <em>{{ secret }}</em> -->
} @else {
  @if (secretError$ | async; as secretError) {
    <pre>
secretError = {{ secretError | json }}
  </pre>
  }
}

<mat-stepper #stepper linear="true">
  <mat-step label="Find model">
    <form class="example-form" style="margin: 0 10px" novalidate (ngSubmit)="scrape()">
      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>URL to get fashion model</mat-label>
        <input matInput
               placeholder="https://www.friartux.com/suits-tuxedos/navy-stretch-shawl-lapel-tuxedo-separates/FT-C5450.html"
               [formControl]="scrapeControl"
               value="https://www.friartux.com/suits-tuxedos/navy-stretch-shawl-lapel-tuxedo-separates/FT-C5450.html">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="scrape()">Process</button>
    </form>
    @if (scraped$ | async; as scraped) {
      @if (scraped.hasOwnProperty("data") && scraped.data.length > 0) {
        <mat-drawer-container class="example-container">
          <mat-drawer mode="side" opened style="max-width: 30%">
            <img [src]="setProfileUrl(scraped.data[0].metadata.ogImage)"
                 style="max-width:100%;max-height:100%;"
                 alt="image from og scrape">
          </mat-drawer>
          <mat-drawer-content>
            <mat-tab-group>
              <mat-tab label="Markdown">
                <markdown
                  [data]="fixMarkdownUrls(scraped.data[0].markdown)"
                  [disableSanitizer]="true">
                </markdown>
              </mat-tab>
              <mat-tab label="Actual">
                <iframe
                  id="ogUrl"
                  title="Inline Frame ogUrl"
                  width="100%"
                  height="200"
                  [src]="scraped.data[0].metadata.ogUrl | safe">
                </iframe>
              </mat-tab>
            </mat-tab-group>
          </mat-drawer-content>
        </mat-drawer-container>
        <div>
          <button mat-button matStepperNext (click)="showPhotoStep = true">Next</button>
        </div>
      } @else {
        Processing…
        <mat-spinner></mat-spinner>
      }
    }
  </mat-step>
  <mat-step label="Take/specify photo" [optional]="showPhotoStep">
    @if (showPhotoStep) {
      <app-webcam (stopMedia)="showPhotoStep"></app-webcam>
      <form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="showLookStep = true">Next</button>
        </div>
      </form>
    } @else {
      Hey! - Don't skip the first step!
    }
  </mat-step>
  <mat-step label="See how you'd look" [optional]="showLookStep">
    @let userPhotoUrl = dataUrlService.userPhotoUrl$ | async;
    @let modelPhotoUrl = dataUrlService.modelPhotoUrl$ | async;
    <img [src]="userPhotoUrl" alt="user photo"/>
    <img [src]="modelPhotoUrl" class="photoImage" alt="model photo"/>
    <button mat-flat-button color="primary" (click)="swap(userPhotoUrl, modelPhotoUrl)">
      See how you'd look
    </button>
    @if (swap$ | async; as swap) {
      <img [src]="swap.output_url" alt="swapped"/>
    }
    <!--@if (showLookStep) {
      <p>Hey again! - Don't skip the second step!</p>
    } @else {
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    }-->
  </mat-step>
</mat-stepper>
@if (httpError$ | async; as httpError) {
  <pre style="color: darkred">
{{ httpError | json }}
  </pre>
}
